# ENV value used by
# - npm start
# - npm run build

# Main contract ADDR
export REACT_APP_CONTRACT_ADDR="0xe9fca552b9eb110c2d170962af740725f71f5644"
export REACT_APP_CONTRACT_ENS=""

# Network
export REACT_APP_CHAIN_ID="1"
export REACT_APP_NETWORK="mainnet"

# API
# export REACT_APP_INFURA_ID=[Add your Infura ID here]
# export REACT_APP_ALCHEMY_API=[Add your Alchemy API key here]

# Etherscan mainnet
export REACT_APP_ETHERSCAN_ADDR_URL="https://etherscan.io/address/"
export REACT_APP_ETHERSCAN_TX_URL="https://etherscan.io/tx/"
export REACT_APP_ETHERSCAN_LOOKUP_URL="https://etherscan.io/enslookup-search?search="

# OpenSea URL
export REACT_APP_OPENSEA_ASSET_URL="https://opensea.io/assets/"

# Disable source map to remove warnings
export GENERATE_SOURCEMAP=false
