.Footer {
  color: var(--light-grey);
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 58px;
  display: flex;
}

.Footer .TOS {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 8px;
}

.Footer .TOS a {
  width: 100%;
  color: var(--orange);
  font-family: NectoMono;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

.Footer .TOS a:hover {
  color: var(--light-grey);
}

@media only screen and (max-width: 580px) {
  .Footer .TOS {
    font-size: 12px;
  }
}
